body {
  padding: 25p;
  background-color: black;
  color: white;
  font-size: 20px;
}
h1 {
  font-weight: bold;
  font-family: fantasy
}
h2 {
  font-family: fantasy
}
img {
  border-radius: 10px;
  border-style: dotted
}
.ptext {
  color: rgb(0, 255, 127);
  font-family: fantasy
}
.litext {
  background-color: red
}